html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:before,
q:before, q:before {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Pictos';
  src: url('../fonts/pictos-web.eot');
  src: local('☺'), url('../fonts/pictos-web.woff') format('woff'), url('../fonts/pictos-web.ttf') format('truetype'), url('../fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background: #111;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255,255,255,0.7);
  background-image: -webkit-linear-gradient(top, #090909, #1c1c1c); 
  background-image: -moz-linear-gradient(top, #090909, #1c1c1c);
  background-image: -ms-linear-gradient(top, #090909, #1c1c1c);
  background-image: -o-linear-gradient(top, #090909, #1c1c1c);
  height: 100%;
}

body.pattern {
  background: #111 url(../img/bg.png);
}

/*------------------------------------------------------------------------------------
  @group typography
------------------------------------------------------------------------------------*/


a {
  color: rgba(255,255,255,0.7);
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

header#top {
  -webkit-box-shadow: inset 0 -1px rgba(200,200,200,0.1);
  padding: 20px;
  background: #6600cc;
  border-bottom: 6px solid #490091;
  background: #333;
  border-bottom: 6px solid #222;
  margin-bottom: 40px;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  text-align: left;
}

header h1 a {
  font-size: 20px;
  color: rgba(255,255,255,0.8);
  letter-spacing: .09em;
  margin: 0;
  text-decoration: none;
}

#ptitle {
  margin: 20px;
  font-size: 30px;
}
/* @end */

/*------------------------------------------------------------------------------------
  @group structure
------------------------------------------------------------------------------------*/

#grid {
  margin: 20px auto;
  display: block;
  width: 850px;
}

footer {
  margin: 20px;
  text-align: center;
  color: rgba(255,255,255,0.2);
  font-size: 12px;
}

p.desc {
  text-align: center;
}

.twitter-follow-button {
  position: fixed;
  right: -185px;
  top: 20px;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group grid
------------------------------------------------------------------------------------*/
.hide {
  display: none;
}

.rule {
  stroke: rgb(100,100,100);
  stroke-width: 1px;
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
}


#grid li {
  display: inline-block;
  margin: 5px;
  padding: 0;
  position: relative;
}

/*#grid li:nth-child(odd) {
  margin-right: 0;
}*/

#grid li a.thumb {
  display: block;
  border: 1px solid rgba(100,100,100,0.5);
  height: 210px;
}

#grid li img {
  margin: 0;
  padding: 5px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(100,100,100,0.1)), to(rgba(100,100,100,0.5)));
  background: transparent -moz-linear-gradient(top, rgba(100,100,100,0.5), rgba(100,100,100,1));
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,1);
  box-shadow: 2px 2px 2px rgba(0,0,0,1);
}

#grid li:hover img {
  background: #0db5f7;
  -webkit-box-shadow: 0 0 8px #0db5f7;
  -moz-box-shadow: 0 0 8px #0db5f7;
  box-shadow: 0 0 8px #0db5f7;
  color: rgba(255,255,255,0.9);
  text-shadow: 10px 10px 4px #0db5f7;
}

#grid li h2 {
  margin: 10px 5px;
  font-weight: bold;
  text-align: center;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group data
------------------------------------------------------------------------------------*/
text {
  fill: rgb(255,255,255);
  fill-opacity: 0.9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

rect.glow {
  fill-opacity: 0.4;
  shape-rendering: crispEdges;
}


.lbl {
  fill: rgb(255,255,255);
  fill-opacity: 0.9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8px;
  letter-spacing: 0.3em;
}

.rnk {
  fill: rgb(100,100,100);
  fill-opacity: 0.6;
}

.legend {
  cursor: pointer;
}

.srim_fg, .srim_fga { fill: #cc0000; stroke: #cc0000; }
.s3_9_fg, .s3_9_fga { fill: #dc3c0d; stroke: #dc3c0d; }
.s10_15_fg, .s10_15_fga { fill: #eb791b; stroke: #eb791b; }
.s16_23_fg, .s16_23_fga { fill: #f7a625; stroke: #f7a625; }
.s3_fg, .s3_fga { fill: #f7d204; stroke: #f7d204; }

.symbol {
  stroke: #cc0000;
  fill: #dc3c0d;
  fill-opacity: 0.5;
}

.plabel {
  font-size: 14px;
  font-weight: bold;
}
/* @end */

.stars {
  shape-rendering: crispedges;
}

.star {
  font-family: Pictos;
  display: inline;
  margin: 10px;
  letter-spacing: 0.3em;
}

/* legend */

#legend {
  width: 300px;
  display: inline-block;
}

.legend {
  margin: 20px 20px 0 20px;
  border-radius: 3px;
  border: 2px solid #292929;
  padding: 10px;
  background: #101010;
}

.legend h2 {
  display: inline-block;
  font-weight: bold;
}


/* logos */
.logo {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/logos-fbs.png');
  border: 3px solid #111;
  border-radius: 2px;
}

.logo[data-team="boston-college"] { background-position: 0 -910px }
.logo[data-team="clemson"] { background-position: 0 -1330px }
.logo[data-team="florida-state"] { background-position: -70px -70px }
.logo[data-team="maryland"] { background-position: -70px -1540px }
.logo[data-team="north-carolina-state"] { background-position: -140px -700px }
.logo[data-team="wakeforest"] { background-position: -280px 0 }
.logo[data-team="duke"] { background-position: 0 -1610px }
.logo[data-team="georgia-tech"] { background-position: -70px -280px }
.logo[data-team="miami-fl"] { background-position: -70px -1680px }
.logo[data-team="north-carolina"] { background-position: -140px -630px }
.logo[data-team="virginia"] { background-position: -210px -1820px }
.logo[data-team="virginia-tech"] { background-position: -210px -1890px }
.logo[data-team="colorado"] { background-position: 0 -1400px }
.logo[data-team="iowa-state"] { background-position: -70px -770px }
.logo[data-team="kansas"] { background-position: -70px -840px }
.logo[data-team="kansas-state"] { background-position: -70px -910px }
.logo[data-team="missouri"] { background-position: -140px -210px }
.logo[data-team="nebraska"] { background-position: -140px -350px }
.logo[data-team="baylor"] { background-position: 0 -770px }
.logo[data-team="oklahoma"] { background-position: -140px -1190px }
.logo[data-team="oklahoma-state"] { background-position: -140px -1260px }
.logo[data-team="texas"] { background-position: -210px -700px }
.logo[data-team="texas-am"] { background-position: -210px -770px }
.logo[data-team="texas-tech"] { background-position: -210px -840px }
.logo[data-team="cincinnati"] { background-position: 0 -1260px }
.logo[data-team="connecticut"] { background-position: 0 -1540px }
.logo[data-team="louisville"] { background-position: -70px -1400px }
.logo[data-team="pittsburgh"] { background-position: -140px -1610px }
.logo[data-team="rutgers"] { background-position: -140px -1820px }
.logo[data-team="south-florida"] { background-position: -210px -210px }
.logo[data-team="syracuse"] { background-position: -210px -420px }
.logo[data-team="west-virginia"] { background-position: -280px -210px }
.logo[data-team="illinois"] { background-position: -70px -560px }
.logo[data-team="indiana"] { background-position: -70px -630px }
.logo[data-team="iowa"] { background-position: -70px -700px }
.logo[data-team="michigan"] { background-position: -70px -1820px }
.logo[data-team="michigan-state"] { background-position: -70px -1890px }
.logo[data-team="minnesota"] { background-position: -140px -70px }
.logo[data-team="northwestern"] { background-position: -140px -910px }
.logo[data-team="ohio-state"] { background-position: -140px -1120px }
.logo[data-team="penn-state"] { background-position: -140px -1540px }
.logo[data-team="purdue"] { background-position: -140px -1680px }
.logo[data-team="wisconsin"] { background-position: -280px -420px }
.logo[data-team="eastcarolina"] { background-position: 0 -1680px }
.logo[data-team="marshall"] { background-position: -70px -1470px }
.logo[data-team="memphis"] { background-position: -70px -1610px }
.logo[data-team="southern-miss"] { background-position: -210px -280px }
.logo[data-team="alabamabirmingham"] { background-position: -210px -1190px }
.logo[data-team="ucf"] { background-position: -210px -1260px }
.logo[data-team="houston"] { background-position: -70px -420px }
.logo[data-team="rice"] { background-position: -140px -1750px }
.logo[data-team="southern-methodist"] { background-position: -140px -1890px }
.logo[data-team="tulane"] { background-position: -210px -1050px }
.logo[data-team="tulsa"] { background-position: -210px -1120px }
.logo[data-team="utep"] { background-position: -210px -1540px }
.logo[data-team="army"] { background-position: 0 -490px }
.logo[data-team="navy"] { background-position: -140px -280px }
.logo[data-team="notre-dame"] { background-position: -140px -980px }
.logo[data-team="akron"] { background-position: 0 -70px }
.logo[data-team="bowlinggreen"] { background-position: 0 -980px }
.logo[data-team="buffalo"] { background-position: 0 -1050px }
.logo[data-team="kent-state"] { background-position: -70px -980px }
.logo[data-team="miamiohio"] { background-position: -70px -1750px }
.logo[data-team="ohio"] { background-position: -140px -1050px }
.logo[data-team="temple"] { background-position: -210px -560px }
.logo[data-team="ball-state"] { background-position: 0 -700px }
.logo[data-team="centralmichigan"] { background-position: 0 -1190px }
.logo[data-team="easternmichigan"] { background-position: 0 -1750px }
.logo[data-team="northern-illinois"] { background-position: -140px -840px }
.logo[data-team="toledo"] { background-position: -210px -910px }
.logo[data-team="westernmichigan"] { background-position: -280px -350px }
.logo[data-team="airforce"] { background-position: 0 0 }
.logo[data-team="byu"] { background-position: 0 -630px }
.logo[data-team="colorado-state"] { background-position: 0 -1470px }
.logo[data-team="newmexico"] { background-position: -140px -490px }
.logo[data-team="san-diego-state"] { background-position: -210px 0 }
.logo[data-team="tcu"] { background-position: -210px -490px }
.logo[data-team="unlv"] { background-position: -210px -1400px }
.logo[data-team="utah"] { background-position: -210px -1610px }
.logo[data-team="wyoming"] { background-position: -280px -490px }
.logo[data-team="arizona"] { background-position: 0 -210px }
.logo[data-team="arizona-state"] { background-position: 0 -280px }
.logo[data-team="california"] { background-position: 0 -1120px }
.logo[data-team="oregon"] { background-position: -140px -1400px }
.logo[data-team="oregon-state"] { background-position: -140px -1470px }
.logo[data-team="stanford"] { background-position: -210px -350px }
.logo[data-team="ucla"] { background-position: -210px -1330px }
.logo[data-team="usc"] { background-position: -210px -1470px }
.logo[data-team="washington"] { background-position: -280px -70px }
.logo[data-team="washington-state"] { background-position: -280px -140px }
.logo[data-team="florida"] { background-position: 0 -1820px }
.logo[data-team="georgia"] { background-position: -70px -210px }
.logo[data-team="kentucky"] { background-position: -70px -1050px }
.logo[data-team="south-carolina"] { background-position: -210px -140px }
.logo[data-team="tennessee"] { background-position: -210px -630px }
.logo[data-team="vanderbilt"] { background-position: -210px -1750px }
.logo[data-team="alabama"] { background-position: 0 -140px }
.logo[data-team="arkansas"] { background-position: 0 -350px }
.logo[data-team="auburn"] { background-position: 0 -560px }
.logo[data-team="lsu"] { background-position: -70px -1260px }
.logo[data-team="mississippi"] { background-position: -140px -1330px }
.logo[data-team="mississippi-state"] { background-position: -140px -140px }
.logo[data-team="arkansas-state"] { background-position: 0 -420px }
.logo[data-team="floridaatlantic"] { background-position: 0 -1890px }
.logo[data-team="floridainternational"] { background-position: -70px 0 }
.logo[data-team="lalafayette"] { background-position: -70px -1120px }
.logo[data-team="lamonroe"] { background-position: -70px -1190px }
.logo[data-team="middletenn-state"] { background-position: -140px 0 }
.logo[data-team="north-texas"] { background-position: -140px -770px }
.logo[data-team="troy"] { background-position: -210px -980px }
.logo[data-team="westernkentucky"] { background-position: -280px -280px }
.logo[data-team="boise-state"] { background-position: 0 -840px }
.logo[data-team="fresno-state"] { background-position: -70px -140px }
.logo[data-team="hawaii"] { background-position: -70px -350px }
.logo[data-team="idaho"] { background-position: -70px -490px }
.logo[data-team="louisianatech"] { background-position: -70px -1330px }
.logo[data-team="nevada"] { background-position: -140px -420px }
.logo[data-team="newmexico-state"] { background-position: -140px -560px }
.logo[data-team="san-jose-state"] { background-position: -210px -70px }
.logo[data-team="utah-state"] { background-position: -210px -1680px }
